.container {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}
