.footerNavContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

@media only screen and (min-width: 768px) {
  .footerNavContainer {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}

.navlink:focus {
  outline: none;
}

.link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  cursor: pointer;
}

.link:hover {
  opacity: 0.5;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  opacity: 0.5;
}

.link:active {
  color: var(--color-white);
  text-decoration: underline;
}
