.navContainer {
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 38px;
margin-bottom: 16px;
}


.navLink {
font-weight: 600;
font-size: 18px;
color: #000;
display: inline-block;
}

.navLink:hover {

}

.activeLink {
  position: relative;
  font-weight: 600;
}

.activeLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #000;
  border-radius: 1px;
}