.menuList {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.navMenuList {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}