.profileContainer {
    width: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    ;
}

.firstLetter {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #9b6c43;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    color: var(--color-white);
    text-transform: uppercase;
}

.vertLine {
    width: 1px;
    height: 39px;
    background: var(--color-white);
}

.logOutIcon {
    stroke-width: 1.33px;
    stroke: var(--color-white);
    fill: none;
}