.footer {
  background-color: var(--color-dark-brown);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  max-width: 393px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .footerContainer {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1440px) {
  .footerContainer {
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 108px;
    max-width: 1440px;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logoIcon {
  fill: var(--color-white);
  width: 32px;
  height: 32px;
}

.logoText {
  font-weight: 600;
  font-style: normal;
  font-size: 18.01px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: var(--color-white);
}

.descr {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-white);
}
